.app-container {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-container {
  height: 100%;
}

header {
  background-color: steelblue;
  color: white;
  font-size: 2em;
  height: 50px;
}

@media only screen and (max-width: 800px) {
}
