.app-container {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: auto;
  width: 100%;
}

.main-options {
  margin: 10px;
}
.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 10px;
  outline: solid;
  // max-width: 800px;
}

header {
  background-color: steelblue;
  color: white;
}

@media only screen and (max-width: 800px) {
}
